* {
  box-sizing: border-box;
}
html {
  font-family: 'Heebo', sans-serif;
  background-color: #888888;
}
body {
  max-width: 1152px;
}
/* .mobile--min_width{
    min-width: 350px;
} */
.padding-general {
  padding: 0 15% 0 15%;
}
.wrapper {
  max-width: 1152px;
  color: #21243d;
}
.topic {
  min-height: 320px;
  margin: 70px 0px;
}
.topic__text {
  /* max-width: 500px; */
}
.topic__pic {
  /* max-width: 254px; */
}
.post-color {
  background-color: #edf7fa;
  min-height: 400px;
}
.post__header {
  width: 100%;
  min-height: 55px;
  max-width: 856px;
}
.post__content {
  min-height: 300px;
  max-width: 856px;
}
.post__item {
  max-width: 390px;
  min-height: 295px;
}
.row {
  --bs-gutter-x: 0;
}

@media only screen and (max-width: 576px) {
  body {
    width: 375px;
  }
  .wrapper {
    width: 375px;
  }
  .padding-general {
    padding: 0 2px;
  }
}
